<!DOCTYPE html>
	<html ng-app='myApp' ng-controller='rootCtrl as root' ng-cloak>
		<head>
			<title>Alex Practice</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<link rel="stylesheet" href="dist/css/lib.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
			<link rel="stylesheet" href="dist/css/main.css">
		</head>

		<body ng-controller='translateCtrl'>
			<div ng-if='!root.isAuthorized' class='authContainer'>
				<div class='authBlock'>
					<form novalidate name='authForm'>
						<h3>Please input Your name</h3>
						<span ng-show='authForm.$error.pattern' style='color: red'>Please enter your name without any symbols. </span>
						<span ng-show='authForm.$error.pattern' style='color: red'>Allowed symbols A-Z a-z</span>
						<input type="text" class='form-control' style='margin: 25px 0;' ng-model='root.login' ng-pattern='/^[a-zA-Z]+$/' required>
						<button class='btn btn-primary' ng-disabled='authForm.$invalid' ng-click='root.allowAuth()'>Submit</button>
					</form>
				</div>
			</div>
			<div ng-if='root.isAuthorized'>
				<!-- Navigation header -->
				<header id='header'>
					<div style='float: right; margin: 10px;'>
						<select name="" class='form-control' ng-model='selectedLanguage' ng-change='translate(selectedLanguage)'>
								<option value="ua">UA</option>
								<option value="ru">RU</option>
								<option value="en">ENG</option>
						</select>
					</div>
					<ul class='nav-panel'>
						<li><a href="#!features">{{translation.HOME}}</a></li>
						<li><a href="#!my_works">{{translation.MY_PROJECTS}}</a></li>
						<li><a href="#!contacts">{{translation.ABOUT_ME}}</a></li>
						<li><a href="#!used_libraries">{{translation.USED_LITERATURE}}</a></li>
					</ul>
				</header>

				<section class="container" style='margin-bottom: 30px;'>
					<div ng-view></div>
				</section>
			</div>
			<footer>
				Copyright © 2017 <a href="https://www.facebook.com/alexmovchan11" target='_blank'> Alex Movchan</a>
			</footer>


	  <script src="dist/lib/jquery-3.2.1.js"></script>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
        <script src="dist/lib/timesheet.min.js"></script>

      <script src="dist/lib/angular.js"></script>
        <script src="dist/lib/angular-drag-and-drop-lists.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-resource.min.js"></script>
        <script src="dist/lib/angular_route.js"></script>
        <script src="dist/lib/angular-desktop-notification.js"></script>
        <script src="dist/lib/angular-chart.js"></script>
        <script src="https://code.angularjs.org/1.2.0-rc.3/angular-sanitize.js"></script>
        <script src="dist/lib/angular-chat.js"></script>
        <script src="dist/lib/rltm.js"></script>

	        <script src="app/js/appCtrl.js"></script>
	        <script src="app/js/controllers/routeConfigCtrl.js"></script>
	        <script src="app/js/controllers/chatConfig.js"></script>
	        <script src="app/js/controllers/contactsCtrl.js"></script>
	        <script src="app/js/controllers/featuresCtrl.js"></script>
	        <script src="app/js/controllers/rootCtrl.js"></script>
	        <script src="app/js/controllers/translateCtrl.js"></script>
	        <script src='app/js/services/translateSrvs.js'></script>
	        <div id="lastChild"></div>
		</body>
	</html>