<div style='margin-top: 15px;'>
	<div class="row">
		<div class="col-md-3">
<!--			<img id="ava" ng-click='contacts.showModal()' class='ava thumbnail' src="../img/ava.jpg" alt="">-->
			<button style='width: 100%; margin:5px 0;' class='btn btn-info'>Click on me</button>
			<button style='width: 100%; margin:5px 0;' class='btn btn-info'>Click on me</button>
			<button style='width: 100%; margin:5px 0;' class='btn btn-info'>Click on me</button>
			<button style='width: 100%; margin:5px 0;' class='btn btn-info'>Click on me</button>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-7 about-me jumbotron">
			<h2 class="text-center">{{translation.GREETINGS}}</h2>
			<hr>	
			<p ng-bind-html='translation.BIO'></p>
			<h2 class="text-center">{{translation.WORK_EXPERIENCE}}</h2>
			<hr>
			<ul ng-bind-html='translation.WORK_PLACES'>
				
			</ul>

		</div>
	</div>


	<div id="myModal" class="modal" ng-click='contacts.close()'>
		<!-- The Close Button -->
		<span class="close" ng-click='contacts.close()'>&times;</span>

		<!-- Modal Content (The Image) -->
		<img class="modal-content" id="img01">

		<!-- Modal Caption (Image Text) -->
		<div id="caption"></div>
	</div>
</div>

