<div ng-controller='homeCtrl'>
	<section class="panel panel-primary" style='border-color: black'>
	    <div class="panel-heading" style='background-color: orange; border-color: orange'>
			<h1>{{translation.TOOLS_WHICH_I_USE}}</h1>
			<div>
				<span>{{translation.HIDE_NAVBAR}} </span>
		  		<label class="switch">
				  <input type="checkbox" ng-click='toggleElement("#header")'>
				  <div class="slider round"></div>
				</label> 
			</div>	
		</div>
	</section>

	<!-- Draggable Panel -->
	<section>
		<div class="panel panel-info">
		    <div class="panel-heading orange-panels">
				<h3>{{translation.SORTABLE_PANEL}} <i class="fa fa-sort-amount-asc" aria-hidden="true"></i></h3>
				<div>
					<span>{{translation.SHOW_SORTABLE_PANEL}}</span>
					<label class="switch">
					  <input type="checkbox" ng-click='toggleElement("#dragPanel")'>
					  <div class="slider round"></div>
					</label> 
				</div>
			</div>
		</div>
		
		
		<div class="simpleDemo row" id='dragPanel'>
		    <div class="col-md-8">
		        <div class="row">
		            <div ng-repeat="list in models" class="col-md-6">
		                <div class="panel panel-info">
		                    <div class="panel-heading">
		                        <h3 class="panel-title">{{translation.LIST}}</h3>
		                    </div>
		                    <div class="panel-body">
						        <ul dnd-list="list">
								    <li ng-repeat="item in list"
								        dnd-draggable="item"
								        dnd-moved="list.splice($index, 1)"
								        dnd-effect-allowed="move"
								        ng-class="{'selected': models.selected === item}"
								        >
								        {{item.label}}
								    </li>
								</ul>

		                    </div>
		                </div>
		            </div>
		        </div>
		        <div view-source="simple"></div>
		    </div>

		    <div class="col-md-4">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h3 class="panel-title">{{translation.GENERATED_SELECT}}</h3>
		            </div>
		            <div class="panel-body">
		                <select class='form-control' ng-model='selectedDragValue'>
		                	 <option value="" disabled selected>{{translation.SELECT_YOUR_OPTION}}</option>
		                	<option ng-repeat='item in models.selected' value="{{item.id}}">{{item.label}}</option>
		                </select>
		            </div>
		        </div>
		    </div>
			<div class="row panel panel-success" ng-switch='selectedDragValue'>
				<div ng-switch-when='4' class="panel-heading">
					<h1>{{translation.SELECTED_VALUE_IS}} <b>{{selectedDragValue}}</b>. {{translation.What is your next action}} ?<i class="fa fa-smile-o" aria-hidden="true"></i></h1>
				</div>
				<div ng-switch-when='3' class="panel-heading">
					<h1>{{translation.SELECTED_VALUE_IS}} <b>{{selectedDragValue}}</b>. {{translation.WHAT_IS_YOUR_NEXT_ACTION}} ?<i class="fa fa-smile-o" aria-hidden="true"></i></h1>
				</div>
				<div ng-switch-when='2' class="panel-heading">
					<h1>{{translation.SELECTED_VALUE_IS}} <b>{{selectedDragValue}}</b>. {{translation.WHAT_IS_YOUR_NEXT_ACTION}} ?<i class="fa fa-smile-o" aria-hidden="true"></i></h1>
				</div>
				<div ng-switch-when='66' class="panel-heading">
					<h1>{{translation.SELECTED_VALUE_IS}} <b>{{selectedDragValue}}</b>. {{translation.WHAT_IS_YOUR_NEXT_ACTION}} ?<i class="fa fa-smile-o" aria-hidden="true"></i></h1>
				</div>
				<div ng-switch-when='32' class="panel-heading">
					<h1>{{translation.SELECTED_VALUE_IS}} <b>{{selectedDragValue}}</b>. {{translation.WHAT_IS_YOUR_NEXT_ACTION}} ?<i class="fa fa-smile-o" aria-hidden="true"></i></h1>
				</div>
				<div ng-switch-when='5' class="panel-heading">
					<h1>{{translation.SELECTED_VALUE_IS}} <b>{{selectedDragValue}}</b>. {{translation.WHAT_IS_YOUR_NEXT_ACTION}} ?<i class="fa fa-smile-o" aria-hidden="true"></i></h1>
				</div>
			</div>
		</div>
	</section>

	<!-- Photo Gallery -->
	<section>
		<div class="panel panel-info">
		    <div class="panel-heading orange-panels">
				<h3>{{translation.PHOTO_GALLERY}}<i class="fa fa-picture-o gallery" aria-hidden="true"></i></h3>
				<div>
					<span>{{translation.SHOW_PHOTO_GALLERY}}</span>
					<label class="switch">
					    <input type="checkbox" ng-click='toggleElement("#photoGallery")'>
					    <div class="slider round"></div>
					</label> 
				</div>
			</div>
		</div>
		<div id="photoGallery">
			<input type="number" min='0' class='form-control' ng-model="colWidth" style='width:200px; background-color:#d9edf7; margin: 0 auto 10px; ' data-toggle="tooltip" data-placement="right" title="Set number of columns. Number must be >= 0" required>
			<div class="input-group" style='margin: 0 auto 10px; '>
				<input type="url" class='form-control' placeholder='http://millionstatusov.ru/pic/statpic/all/58e61335ec518.jpg' style='width:200px; background-color:#d9edf7;' data-toggle="tooltip" data-placement="left" title="Input CDN adress of image" ng-model='tempURL' required>
				<button class='btn btn-success' style='border-radius: 0 4px 4px 0' ng-click='addImg()' ng-disabled='tempURL == null'>{{translation.ADD}}</button>
			</div>
			<div class="row" id="#gallery" style='display: flex; flex-wrap: wrap; justify-content: center;'>
				<div ng-repeat='img in pictures' class="col-xs-{{colWidth}} col-md-{{colWidth}} thumbnail" style=' display: flex; flex-flow: column wrap; justify-content: space-between;'>
					<a href="{{img.src}}"  data-fancybox='images'>
					    <img ng-src="{{img.src}}" alt="{{img.alt}}">
					</a>
					<button class='btn btn-danger' ng-click='delImg($index)'>{{translation.DELETE}}</button>
				</div>
			</div>
		</div>
	</section>

	<!-- Gradient Animation -->
	<section>
		<div class="panel panel-info">
		    <div class="panel-heading orange-panels">
				<h3>{{translation.GRADIENT_ANIMATION}} <i class="fa fa-spinner fa-spin fa-fw"></i></h3>
				<div>
					<span>{{translation.SHOW_GRADIENT_ANIMATION}} </span>
					<label class="switch">
					    <input type="checkbox" ng-click='toggleElement("#gradientAnimation")'>
					    <div class="slider round"></div>
					</label> 
				</div>
			</div>
		</div>
		<div id="gradientAnimation" style='display: none;'>
			<div>
				<button class='btn btn-success' ng-click='toggleColorInterval()' >{{translation.START_ANIMATE}}</button><br>
				<span class='animatedText' style='color: hsl({{tempcol1}}, 100%, 48%)'><i class="fa fa-circle" aria-hidden="true"></i></span>
				<span class='animatedText' style='color: hsl({{tempcol2}}, 100%, 48%)'><i class="fa fa-circle" aria-hidden="true"></i></span>
				<span class='animatedText' style='color: hsl({{tempcol3}}, 100%, 48%)'><i class="fa fa-circle" aria-hidden="true"></i></span>
				<span class='animatedText' style='color: hsl({{tempcol4}}, 100%, 48%)'><i class="fa fa-circle" aria-hidden="true"></i></span>
				<span class='animatedText' style='color: hsl({{tempcol5}}, 100%, 48%)'><i class="fa fa-circle" aria-hidden="true"></i></span>
			</div>
			<button class='btn btn-success' ng-click='draw()' ng-disabled='!drawIsAllowed'>{{translation.DRAW}}</button>
			<div style='margin-top: 10px;'>
				<canvas id="canvas" height="300px" width="600px"></canvas>
			</div>
		</div>
	</section>
	
    <!--  Notifications	-->
    <section>
        <div class="panel panel-info">
		    <div class="panel-heading orange-panels">
				<h3>{{translation.NOTIFICATIONS}} <i class="fa fa-bell-o pulsar" aria-hidden="true"></i></h3>
				<div>
					<span>{{translation.SHOW_NOTIFICATIONS_BAR}} </span>
					<label class="switch">
					    <input type="checkbox" ng-click='toggleElement("#notification")'>
					    <div class="slider round"></div>
					</label> 
				</div>
			</div>
		</div>
        <div id="notification" style='display: none;'>
            <button class='btn btn-success' ng-click='showNotification()'>{{translation.SHOW_NOTIFICATIONS}}</button>
		</div>
    </section>
    
    <!--  Palette Styles  -->
    <section>
        <div class="panel panel-info">
		    <div class="panel-heading orange-panels">
				<h3>{{translation.CHANGE_COLOR_THEME_OF_SITE}} <i class="fa fa-paint-brush rotate" aria-hidden="true"></i></h3>
				<div>
					<span>{{translation.SHOW_COLOR_BAR}} </span>
					<label class="switch">
					    <input type="checkbox" ng-click='toggleElement("#colorScheme")'>
					    <div class="slider round"></div>
					</label> 
				</div>
			</div>
		</div>
        <div id="colorScheme" style='display: none;'>
            <button class='btn btn-info'>{{translation.CYAN}}</button>
            <button class='btn btn-warning'>{{translation.ORANGE}}</button>
            <button class='btn btn-success'>{{translation.GREEN}}</button>
            <button class='btn btn-danger'>{{translation.RED}}</button>
            <label for="color">{{translation.YOUR_OWN_STYLE}}</label>
            <input type="color" name='color'>
		</div>
    </section>
    
    <!--  Translations  -->
    <section>
        <div class="panel panel-info">
		    <div class="panel-heading orange-panels">
				<h3>{{translation.CHANGE_LANGUAGE}} <i class="fa fa-language bookslide" aria-hidden="true"></i></h3>
				<div>
					<span>{{translation.SHOW_LANGUAGE_BAR}} </span>
					<label class="switch">
					    <input type="checkbox" ng-click='toggleElement("#languages")'>
					    <div class="slider round"></div>
					</label> 
				</div>
			</div>
		</div>
        <div id="languages" style='display: none;'>
            <button class='btn btn-warning' ng-click='translate("ua")'>{{translation.UKRAINIAN}}</button>
            <button class='btn btn-info' ng-click='translate("ru")'>{{translation.RUSSIAN}}</button>
            <button class='btn btn-warning' ng-click='translate("en")'>{{translation.ENGLISH}}</button>
		</div>
    </section>
    <section>
        <div class="panel panel-info">
		    <div class="panel-heading orange-panels">
				<h3>{{translation.CHARTS}} <i class="fa fa-bar-chart" aria-hidden="true"></i></h3>
				<div>
					<span>{{translation.SHOW_CHARTS_PANEL}} </span>
					<label class="switch">
					    <input type="checkbox" ng-click='toggleElement("#charts")'>
					    <div class="slider round"></div>
					</label> 
				</div>
			</div>
		</div>
        <div id="charts" style='display: none;'>
            <canvas id="line" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas>
		</div>
    </section>
</div>